<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>153</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>152</string>
							<key>Timestamp</key>
							<string>763472550.831151</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Bordero/Views/User/ParametersView.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>                
</string>
						<key>leading</key>
						<string>                    Text("🏗️ En construction. Disponible dans une future mise à jour.")
                }
</string>
						<key>trailing</key>
						<string>                if ProcessInfo.processInfo.isiOSAppOnMac {
                    
                    Section {
</string>
					</dict>
					<key>title</key>
					<string>Corriger le probleme pour contacter le developpeur depuis mail sur l'app sur Mac</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Bordero/Views/FormTypeActeView.swift</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>title</key>
					<string>Loose of perf when switch of keyboard </string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Performance optimisation</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>10</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>9</string>
							<key>Timestamp</key>
							<string>730595585.652423</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Bordero/Views/OnBoarding/OnBoardingView.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>// TODO: Lorsque tu implémentes les push notif oublies pas de creer un ecran pour demander l'autorisation à l'utilisateur et de creer un ecran qui explique pourquoi tu en as besoin
</string>
						<key>leading</key>
						<string>import SwiftUI

</string>
						<key>trailing</key>
						<string>
struct OnBoardingView : View {
    @Environment(\.dismiss) var dismiss
</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>TODO</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>13</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>12</string>
					<key>Timestamp</key>
					<string>737932921.481162</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Bordero/Views/PackageSwift/MailUIView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>struct MailUIView: UIViewControllerRepresentable {
</string>
				<key>leading</key>
				<string>import MessageUI

</string>
				<key>trailing</key>
				<string>    
    @Environment(\.presentationMode) var presentation
    
</string>
			</dict>
			<key>title</key>
			<string>A mutualiser avec DevelopperMailView</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>15</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>14</string>
					<key>Timestamp</key>
					<string>743631331.912708</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Bordero/Views/User/ParametersView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    @FetchRequest(
</string>
				<key>leading</key>
				<string>    
    @Environment(\.managedObjectContext) var moc
</string>
				<key>trailing</key>
				<string>        sortDescriptors: [SortDescriptor(\Praticien.modificationDate)]
        
    ) var praticien: FetchedResults&lt;Praticien&gt;
</string>
			</dict>
			<key>title</key>
			<string>Gerer le cas ou une personne change ses informations mais garde deux appareil allumé et ne change pas de screnne sur l'appareil qui na pas changer les infos </string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
